*.app
*.aps
*.bak
*.bin*
*.bmp
*.cert
*.d
*.db
*.dat
*.dec
*.dll
*.doc
*.exe
*.h3
*.gz
*.ini
*.inl
*.ipch
*.jpeg
*.jpg
*.json
*.lib
*.o
*.obj
*.png
*.props
*.rdb
*.suo
*.tik
*.tmd
*.txt
*.VC.*
*.vcxproj.filters
*.vcxproj.user
*.xml*
*.zip
code
content
meta
x86
x64
