*.aps
*.bak
*.bin*
*.bmp
*.d
*.db
*.dat
*.dll
*.doc
*.exe
*.gz
*.ini
*.inl
*.ipch
*.jpeg
*.jpg
*.json
*.lib
*.o
*.obj
*.png
*.props
*.rdb
*.suo
*.txt
*.VC.*
*.vcxproj.filters
*.vcxproj.user
*.xml*
*.zip
x86
x64
